nav {
    height: 85px;
    width: 100%;
  
    overflow: hidden;
    flex-shrink: 0;
  
    background-color: rgb(35, 35, 35);
    box-shadow: 0px 0px 10px black;
    color: whitesmoke;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 1; /* ensure nav is above main for shadow to show */
  }
  
/*  */

nav h1 {
    font: inherit;
    font-size: 45px;
    color: whitesmoke;

    width: fit-content;
    margin-left: 8px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav h1::after {
    background-color: rgba(255,255,255,0.65);
    display: inline-block;
    margin-left: 12px;
    content: '';
    height: 75%;
    width: 3px;
}

/*  */

nav .search-box {
    width: fit-content;
    height: fit-content;
}

/*  */

nav .search-box input {
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px 0px rgb(41, 41, 41);
    width: 500px;
    height: 52px;
    padding-left: 10px;
    margin-right: 16px;

    background-color: rgb(58, 58, 58);
    color: whitesmoke;
    font-size: 22px;
    border-radius: 6px;
}

nav .search-box input::placeholder { 
    color: rgba(255,255,255,0.35);
}

nav .search-box input:hover { 
    background-color: rgb(64, 64, 64);
}

nav .search-box input:focus { 
    background-color: rgb(64, 64, 64);
    outline: 1px solid rgb(188, 188, 188);
}

/*  */

nav .search-box button {
    box-shadow: 0px 0px 10px 0px rgb(41, 41, 41);
    border: none;
    padding: 0px;
    width: 110px;
    height: 52px;
    border-radius: 5px;
    background-color: rgb(58, 58, 58);
    color: whitesmoke;
    letter-spacing: 1px;
    text-transform: uppercase;
}

nav .search-box button:hover { 
    background-color: rgb(65, 65, 65);
    outline: 2px solid rgb(188, 188, 188);
}

nav .search-box button:active { 
    background-color: rgb(52, 52, 52);
}

/*  */

nav .action-box div{
    margin-right: 15px;
    color: white;
}

nav .action-box div:hover{
    transform: scale(1.08,1.08);
}

nav .action-box div:active{
    color: rgb(228, 228, 228);
}