* {
  --card_width: 380px;
  --card_height: 560px;
  --grid_spacing: 15px;

  padding: 0px;
  margin: 0px;

  font-size: 1.1rem;
}

body {
  width: 100vw;
  height: 100vh;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;

  display: flex;
  flex-direction: row;
  justify-content: left;
}

nav {
  width: 18%;
  height: 100%;
  background-color: black;
  color: whitesmoke;
  overflow: hidden;
  flex-shrink: 0;
  font-size: 2em;
}

main {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  flex-grow: 1;
  overflow-y: scroll;
}

.grid-container {
  margin: var(--grid_spacing);
  width: auto;
  height: auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card_width), 1fr));
  grid-auto-rows: var(--card_height);
  gap: calc(1.8 * var(--grid_spacing)) var(--grid_spacing);

  justify-items: center;
  align-items: center;
}

.card {
  width: var(--card_width);
  height: var(--card_height);

  background-color: rgb(49, 49, 49);
  outline: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 8px black;
  font-size: 1.1em;
  color: whitesmoke;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: linear-gradient(rgb(26, 26, 26), rgb(49, 49, 49) 90%);
  color: white;
  height: 8%;
  
  display: flex;
  justify-content: center;
  align-items: center;

  font: inherit;
  font-size: 1.4em;
  letter-spacing: 1px;
}

.card-notes {
  /* background-color: antiquewhite; */

  display: flex;
  justify-content: center;
  align-items: center;

  font: inherit;
}

.card-items {
  /* background-color: aquamarine; */

  display: flex;
  justify-content: center;
  align-items: center;

  font: inherit;
}

.card-effort {
  /* background-color: cadetblue; */

  display: flex;
  justify-content: center;
  align-items: center;

  font: inherit;
}

.card-thumbnail {
  border-radius: 8%;
  width: auto;
  height: 35%;
  margin-top: 15px;
  margin-bottom: 15px;

  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWplfPbqlkgL6TAOLL5YgRzXwxV4dViqyKNp_ALoIiqOImdP7iMt1lbzRUcLu-f3hzhGk&usqp=CAU');
  background-size: cover;
  background-position: center;
  border: 1px solid black;
}

.card-btnContainer {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-btn {
  background-color: inherit;
  color: whitesmoke;
  width: 35%;

  outline: 1px solid black;
  border-radius: 10px;
  border: none;

  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: inherit;
  font-weight: bold;
}

.del-btn { background-color: rgb(176, 14, 14);}
.del-btn:hover { background-color: rgb(212, 16, 16);}
.del-btn:active { background-color: rgb(134, 10, 10);}

.edit-btn { background-color: rgb(217, 152, 0);}
.edit-btn:hover { background-color: rgb(232, 165, 11);}
.edit-btn:active { background-color: rgb(176, 123, 0);}

.card:hover {
  outline: 5px solid whitesmoke;
}